<tr id="<%= email.id %>">
  <td><%= email.username %></td>
  <td><%= email.quota %></td>
  <td><%= link_to 'Delete', email, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', remote: true %></td>
  <td><%= link_to 'Change Password', '', class: 'btn btn-default' %></td>
</tr>
