<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#newEmailModal">New Account</button>
<br><br>

<!-- Modal -->
<div class="modal fade" id="newEmailModal" tabindex="-1" role="dialog" aria-labelledby="newEmailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newEmailModalLabel">New Email Account</h4>
      </div>
      <div class="modal-body">
        <div id="error_explanation"></div>
        <%= form_for([@domain, Email.new], remote: true) do |f| %>
          <div class="form-group">
            <div class="input-group">
              <%= f.text_field :username, class: 'form-control', placeholder: 'email username', 'aria-describedby'.to_sym => 'domain_addon' %>
              <span class="input-group-addon" id="domain_addon">@<%= @domain.name %></span>
            </div>
          </div>
          <div class="form-group">
            <%= f.text_field :quota, class: 'form-control', placeholder: 'quota' %>
          </div>
            <div class="form-group">
            <%= f.password_field :password, size: 10, class: 'form-control', placeholder: 'password' %>
          </div>
            <div class="form-group">
            <%= f.password_field :confirmation_password, size: 10, class: 'form-control', placeholder: 'confirm password' %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
      </div>
        <% end %>
    </div>
  </div>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Quota Used</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="emails">
    <%= render @emails %>
  </tbody>
</table>
